body{
	padding: 0;
	margin: 0;
	min-width: 1330px;
}

.top-bar{
	position: absolute;
	width: 100%;
	height:64px;
	margin: 0;
	padding: 0;
	background-color: #393D49;
}
.layui-nav-side{
	top:65px;
}
.layui-table, .layui-table-view{
	margin:90px 0;
}
.layui-table-view .layui-table{
	width:100%;
}
.layui-table-body{
	margin-right:0px;
}