html,body{
	margin: 0;
	padding: 0;
}
body{
	background-color: #EEEEEE;
}
.layui-nav{
	border-radius: 0px;
	width:100%;
	height:60px;
}
.layui-nav-item{
	float: right;
}
.logo{
	float: left;
}
.logo h2{
	font-family: simhei;
	color: #1E9FFF;
	font-size: 20px;
	font-weight: 700;
}

.click-block{
	width: 80%;
	max-width: 1336px;
	min-width: 768px;
	height:600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.click-block-item{
	position: relative;
	display: inline-block;
	top: 200px;
	width: 24%;
	height: 160px;
	margin-right:3px;
	color: white;
	background-color: #00F7DE;
	
	/*字体相关设置*/
	font-family: simsun;
	font-size: 30px;
	text-align: center;
	line-height: 160px;
	
}
.click-block-item:hover{
	opacity: 0.5;
	transform: scale(1.04);
	transition-duration: 0.5s;
}
.click-block-item1{
	background-color: #009688;
}
.click-block-item2{
	background-color: #5FB878;
}
.click-block-item3{
	background-color: #01AAED;
}
.click-block-item4{
	background-color: #FFB800;
}

/*center*/
.site-title{
	margin:30px 30px 0 30px;
}
.site-title fieldset{
	border:none;
	padding:0;
	border-top: 1px solid white;
}
.site-title fieldset legend{
	font-size:20px;
	font-weight:300;
	margin-left: 20px;
	
	
}
.site-block{
	margin: 20px 30px 20px 30px;
	padding: 20px;
	height: 300px;
	border: 1px solid #4E5465;
	
	min-width: 900px;
	max-width: 1336px;
	margin: auto;
}
.layui-form{
}
.center-form-btn{
	margin-left: 300px;
}
/*publish*/
.publish-block{
	height: 600px;
}
/*mypublish*/
.mypublish-block{
	border: none;
}
.mypublish1:hover{
	transform: scale(1.02);
	transition-duration: 0.5s;
}